body {
    margin: 0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fe908f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#game-container {
    background-color: #fffa62;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 16px 16px 0px #000000; 
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
}

#status-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fecf7f;
    padding: 10px;
    border-radius: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, min(15vw, 15vh));
    gap: min(1vw, 1vh);

    min-height: calc(4 * min(15vw, 15vh) + 3 * min(1vw, 1vh));
}

.card {
    width: min(15vw, 15vh);
    height: min(15vw, 15vh);
    background-color: #fecf7f;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 0;

    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.05);
}

/* animation qui vient de Animista */
.card.flipped {
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.card.shake {
    -webkit-animation: shake-horizontal 0.4s ease-in-out both;
            animation: shake-horizontal 0.4s ease-in-out both;
}

.card.flip-vertical-left {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    transform: rotateY(180deg);
    opacity: 0; 
    transition: opacity 0.15s;
}

.card.flipped img,
.card.shake img {
    opacity: 1;
}

.card.flipped img {
    transition-delay: 0.15s;
}

.card.flip-vertical-left img {
    opacity: 0;
    transition: opacity 0.1s;
}

#result {
    font-size: 1.2rem;
    margin: 20px 0;
    color: black;
    font-weight: bold;
}

#restart {
    background-color: #fecf7f;
    color : black;
    border : none;
    padding: 12px 28px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 auto;
}

#restart:hover {
    background-color: #feb87f;
}

/* Keygrames animista */

@keyframes flip-vertical-right {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(180deg); }
}

@keyframes flip-vertical-left {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(-180deg); }
}

@keyframes shake-horizontal {
  0%, 100% { transform: rotateY(180deg) translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: rotateY(180deg) translateX(-3px); }
  20%, 40%, 60%, 80% { transform: rotateY(180deg) translateX(3px); }
}