#game-board {
    display: grid;
    grid-template-columns: repeat(4, min(15vw, 15vh));
    gap: min(1vw, 1vh);
}

.card {
    width: min(15vw, 15vh);
    height: min(15vw, 15vh);
    background-color: #cccccc;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#restart {
    display: none;
}