body {
    margin: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00b7ff8c;
}

#game-container {
    background-color: #00b7ff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

#status-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #008cff;
    padding: 10px;
    border-radius: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, min(15vw, 15vh));
    gap: min(1vw, 1vh);
}

.card {
    width: min(15vw, 15vh);
    height: min(15vw, 15vh);
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
}

.card img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#result {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #4eed94;
    font-weight: bold;
}

#restart {
    background-color: #008cff;
    color : white;
    border : none;
    padding: 12px 28px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 auto;
}

#restart:hover {
    background-color: #0066ff;
}